/*========== fonts ==========*/
@import url("https://fonts.googleapis.com/css2?family=Sahitya:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");
/*========== shortcuts function ==========*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
/*========== BASE ==========*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sahitya", serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  position: relative;
}

/*========== navbar styles ==========*/
.navbar {
  border-bottom-right-radius: 0.5em 1em;
  border-bottom-left-radius: 0.5em 1em;
  -webkit-box-shadow: -1px 1px #888888, 1px 1px #888888;
          box-shadow: -1px 1px #888888, 1px 1px #888888;
}

.navbar .navbar-brand {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.navbar .navbar-alma {
  color: #8cd8ff;
  font-weight: 500;
}

.navbar .nav-link {
  padding-top: 3rem;
}

.navbar .icon-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 1rem;
}

.navbar .icon-div .iconsb {
  font-size: 3rem;
}

.navbar .icon-div .iconf {
  color: #3b5998;
}

.navbar .icon-div .iconi {
  background: -webkit-linear-gradient(#fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.offcanvas-body {
  font-size: 1.2rem;
}

.ml3 {
  font-family: "Allison", cursive;
  font-weight: 900;
  font-size: 9rem;
  color: #3e4095;
  text-align: center;
}

/*========== ARTICLE ==========*/
article {
  font-family: "Allison", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/tiny-back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article span {
  font-family: "Allison", cursive;
}

/*========== cursos y talleres ==========*/
.sliders-section {
  text-align: center;
  background: rgba(255, 250, 250, 0.884);
  background-size: cover;
  background-position: center;
}

.sliders-section .sliders-title {
  margin: 1.5rem;
}

.parent, .parent2 {
  text-align: center;
  margin: 0.5rem;
  margin-top: 1rem;
}

.card-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .parent {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 0px;
  }
  .tittle-div-1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-area: 1 / 4 / 2 / 6;
  }
  .carousel-div1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 1 / 1 / 4 / 4;
  }
  .description-div1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-area: 2 / 4 / 4 / 6;
  }
  .parent2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .carousel-div2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-area: 1 / 3 / 4 / 6;
  }
  .tittle-div-2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 2 / 3;
  }
  .description-div2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 4 / 3;
  }
}

.description-div1, .description-div2, .tittle-div-1, .tittle-div-2, .div3about, .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description-div1, .description-div2 {
  font-size: 1.2rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .description-div1, .description-div2 {
    background: url(../img/back-no.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.d-block {
  border-radius: 1rem;
}

/*========== CURSOS JS ANIMATION ==========*/
.card-img-top {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/*========== VERTICAL CARDS ==========*/
.group-22 {
  border-radius: 1.5rem;
}

.group-22 .img-vert {
  border-radius: 1.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.group-22 .img-vert:hover {
  scale: 1.1;
  z-index: 2;
}

/*========== BOTON FLOTANTE INSTA ==========*/
.ig {
  color: black;
  position: fixed;
  right: 2rem;
  bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem;
  background: rgba(6, 156, 84, 0);
  border-radius: 0.4rem;
  z-index: 99;
  font-size: 3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: -webkit-linear-gradient(#fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ig:hover {
  color: white;
  cursor: pointer;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background-clip: text;
  border-radius: 20%;
}

@media screen and (min-width: 768px) {
  .parent3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2] 2fr 1fr;
        grid-template-columns: repeat(2, 1fr) 2fr 1fr;
    -ms-grid-rows: .1fr 3fr;
        grid-template-rows: .1fr 3fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .div1about {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 3 / 3;
  }
  .div2about {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 1 / 3 / 2 / 5;
  }
  .div3about {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 2 / 3 / 3 / 5;
  }
  .div1about {
    width: 100%;
    height: 100%;
  }
}

.paren3 {
  margin-top: 1rem;
}

.div1about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me {
  text-align: center;
}

/*========== FOOTER ==========*/
@media screen and (min-width: 768px) {
  .parent4 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: 1fr 3fr 0.5fr;
        grid-template-rows: 1fr 3fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .footer1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 2 / 3;
  }
  .footer2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 1 / 3 / 2 / 5;
  }
  .footer3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-area: 1 / 5 / 2 / 7;
  }
  .footer4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 3 / 3;
  }
  .footer5 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 2 / 3 / 3 / 5;
  }
  .footer6 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-area: 2 / 5 / 3 / 7;
  }
  .footer7 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: 3 / 1 / 4 / 7;
  }
}

.footer-container {
  background: #8cd8ff;
  text-align: center;
  color: black;
  list-style: none;
  margin: auto;
}

.footer-container a {
  text-decoration: none;
}

.footer-list {
  list-style-type: none;
  margin-bottom: 1rem;
  padding: 0;
}

.footer-list li {
  margin-bottom: .5rem;
}

.footitle {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

#btnlinkedin:hover {
  color: whitesmoke;
}

.btn-primary a {
  color: white;
}

.btn-primary a:hover {
  color: whitesmoke;
}

.offcanvas-body {
  z-index: 100;
}

.div2about {
  margin: auto;
  margin-bottom: 0;
}

.div2about h1 {
  margin-bottom: 0;
  font-family: "Allison", cursive;
  letter-spacing: 0.1rem;
  color: #3e4095;
  font-size: 4rem;
}

@media (min-width: 768px) {
  .div2about h1 {
    font-size: 7rem;
  }
}

#vuelo-alma {
  font-family: "Allison", cursive;
  font-size: 5rem;
  color: blueviolet;
}

.sub-about {
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 2.3rem;
  color: #854c31;
}

#parrafo-about {
  height: 100%;
  margin: 0 1rem 1rem 1rem;
}
/*# sourceMappingURL=main.css.map */